.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 1.1rem;
}

.grid-item {
  height: 4rem;
  width: 4rem;
  border: 3px solid rgb(120, 144, 156);
  border-radius: 2px;
  padding: 2px;

  &-image {
    max-width: 100%;
    max-height: 100%;
  }
}

.empty {
  border: 3px solid rgba(0, 0, 0, 0.412);
}

.with-content-selected {
  border: 3px solid rgb(254, 190, 35);
}

.grid-container {
  overflow-x: auto;
  max-height: 20.5rem;
  padding-right: 0.5rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
