.equipment-container {
  width: 100%;

  // z-index: 0;
}

.equipment {
  position: relative;
  padding: 1.5rem;
  // width: 25rem;
  width: 50%;
  background-color: rgb(49, 58, 62);

  border-right: 3px solid rgb(120, 144, 156);

  z-index: 2;
}

.preview {
  position: absolute;
  top: 0px;
}

.chests-header {
  color: rgb(33, 231, 182);
  padding: 0.6rem;
}

.rewards-header {
  &-label-1 {
    color: rgb(33, 231, 182);
  }
  &-label-2 {
    font-size: 0.7rem;
    margin-top: 0.2rem;
  }

  .rewards-total-value {
    font-size: 0.9rem;
    color: white;
  }

  .rewards-total-label {
    color: rgb(120, 144, 156);
  }
}
