<div class="preview-container" *ngIf="item">
  <div class="w-100 d-flex justify-content-center align-items-center">
    <a class="close mt-2 mr-2" (click)="closePreview()">X</a>
    <div *ngIf="item.type === itemType.CHEST" class="item-name">
      {{ item.name | uppercase }}
    </div>
  </div>

  <div class="item-img">
    <img [src]="item.image" alt="item_image" />
  </div>

  <ng-container [ngSwitch]="item.type">
    <ng-container *ngSwitchCase="itemType.CHEST">
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-primary mt-5" (click)="openChest(item)">OTWÓRZ SKRZYNKĘ</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="itemType.REWARD">
      <div class="key-preview mt-5">
        <div class="key-preview-label mb-1">KLUCZ</div>
        <div class="key-preview-value">{{ item.key }}</div>
      </div>
    </ng-container>
  </ng-container>
</div>
